:80 {
    handle /api/* {
        reverse_proxy backend:4000 {
            header_up X-Forwarded-Proto https
        }
    }

    handle /socket/* {
        reverse_proxy backend:4000 {
            header_up X-Forwarded-Proto https
        }
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
